<h6 class="mt-4">Not saved orders</h6>
<ul class="list-group list-group-flush">
  <% current_user.orders.fresh.each do |fresh_order| %>
    <li class="list-group-item px-0">
      <span>
        Order for <%= fresh_order.placed_on.strftime('%B %d') %> not saved
      </span>
      <span class="float-right">
        <%= link_to "Edit", edit_user_weekly_meals_path(date: fresh_order.placed_on.to_date), class: 'btn btn-matterhorn btn-sm' %>
      </span>
    </li>
  <% end %>
</ul>