<div class="row">
  <div class="col">
    <h1 id="title">Units</h1>
  </div>
  <div class="col">
    <%= link_to new_admin_unit_path, class: 'add-category-btn float-right' do %>
      <img src="<%= asset_pack_path 'packs/images/add-icon.svg' %>"> Add Unit
    <% end %>
  </div>
</div>