<div id="payment_method_container">
  <form id="payment_method_form">
    <div class="errors" v-if="error_messages.length > 0">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Oops!..</strong>
        {{ error_messages }}
      </div>
    </div>
    <div class="form-check form-check-inline" v-if="mode === 'new'">
      <label class="form-check-label">
        <input type="radio"
          name="payment_method"
          value="credit_card"
          v-model="payment_method"
          class="form-check-input"
          checked>
        Credit Card
      </label>
    </div>
    <div class=" form-check form-check-inline" v-if="mode === 'new'">
      <label class="form-check-label">
        <input type="radio"
        name="payment_method"
        value="checking"
        v-model="payment_method"
        class="form-check-input">
        Check
      </label>
    </div>

    <%# Credit Card %>
    <div v-if="payment_method === 'credit_card'">
      <%= render 'credit_card_form' %>
    </div>

    <%# Checking %>
    <div v-else>
      <%= render 'checking_form' %>
    </div>
    <div>
      <%= render 'shared/form/note_for_required_fields' %>
    </div>
    <div class="row">
      <div class="col">
        <a href="javascript:void(0)" class="btn btn-default text-uppercase px-4 mr-4" @click="hideForm">Cancel</a>
        <input type="submit" name="commit" value="Save New Payment Method" class="btn btn-brown text-uppercase px-4" v-on:click.prevent="saveChanges($event)" v-if="mode === 'new'">
        <input type="submit" name="commit" value="Save Changes" class="btn btn-brown text-uppercase px-4" v-on:click.prevent="updateChanges($event)" v-if="mode === 'edit'">
      </div>
    </div>
  </form>
</div>