$light-bg: #f9f9f9;
$muted-color: #acacac;
$green-check-bg: #37c429;
$chocolate: #562d07;
$light-chocolate: #8b7562;
$allergens-color: #43ccff;
$carb-free-color: #8dc63f;
$sugar-free-color: #eaaf30;
$gluten-free-color: #a0410d;
$pure-white: #ffffff;
$disabled-step-bg: #737272;
$lato: "Lato", sans-serif;
$montserrat: "Montserrat", sans-serif;
$base-dark: #252525;
$base-darker: #191919;

html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
    background: $light-bg;
    font-family: $lato;
    color: $base-dark;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
    margin-top: 6.25rem;
}

h {
    &1,&2,&3,&4,&5,&6 {
        font-family: $montserrat;
    }
}

.font-family-lato {
    font-family: $lato!important;
    font-style: normal;
    &-bold {
        font-family: $lato!important;
        font-style: normal;
        font-weight: 700!important;
    }
    &-black {
        font-family: $lato!important;
        font-style: normal;
        font-weight: 900!important;
    }
}

.font-family-montserrat {
    font-family: $montserrat!important;
    font-style: normal;

    &-medium {
        font-family: $montserrat!important;
        font-style: normal;
        font-weight: 500!important;
    }
    &-semi-bold {
        font-family: $montserrat!important;
        font-style: normal;
        font-weight: 600!important;
    }
    &-bold {
        font-family: $montserrat!important;
        font-style: normal;
        font-weight: 700!important;
    }
}

.font-size {
    &-12 {
        font-size: 0.75rem!important;
    }

    &-14 {
        font-size: 0.875!important;
    }

    &-16 {
        font-size: 1rem!important;
    }

    &-18 {
        font-size: 1.125rem!important;
    }

    &-20 {
        font-size: 1.25rem!important;
    }

    &-22 {
        font-size: 1.375rem!important;
    }

    &-24 {
        font-size: 1.5rem!important;
    }

    &-28 {
        font-size: 1.75rem!important;
    }
}

.btn {
    font-family: $montserrat;
    font-weight: normal;
    font-size: 15px;
}

.btn-uppercase {
    text-transform: uppercase;
}

.btn-brown {
    background: $chocolate!important;
    border-color: $chocolate;
    color: $pure-white !important;
    
    &:hover,
    &:focus {
        background: lighten( $chocolate, 5%);
    }

    &-outline {
      background: transparent;
      border-color: $chocolate;
      color: $chocolate!important;
      border-radius: 0!important;
      &:hover,
      &:focus {
          background: $chocolate;
          color: $pure-white!important;
      }

      &.active-btn {
          color: $pure-white!important;
          background: $chocolate;
      }

      &-rounded {
        background: transparent;
        border-color: $chocolate;
        color: $chocolate!important;
        border-radius: 3px!important;
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important; 
        &:hover,
        &:focus {
            background: $chocolate;
            color: $pure-white!important;
        }
      }
    }
}


.text-muted,
label,
.text-muted-frish,
.nav-tabs a.nav-link {
    color: $muted-color!important;
    &:hover,
    &:focus {
        color: $base-dark;
    }
}

.text-brown {
    color: $chocolate;
}

.dropzone {
    display: flex;
    width: 100%;
    min-height: 180px;
    border: 1px dashed $light-chocolate;
    border-width: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
}

.is_dragging {
    border-color: darkgrey;
    color: darkgray;
    background: $base-dark;
}

.has_an_error {
    border-color: red;
    color: red;
}

.add-menu-item {
    background: transparent;
    border-color: #dfb676;
    color: #dfb676 !important;
    width: 226px;
    height: 175px;
    border: 1px dashed;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-add-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > svg path {
        stroke: #dfb676;
    }
}

.card-container {
    min-height: 600px;
}

.card-container>.card-header {
    line-height: 3rem;
    background: $pure-white;
}

.draft-card img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.diet-icons {
    font-size: 13px !important;
}

.carb-free {
    color: $carb-free-color;
}

.sugar-free {
    color: $sugar-free-color;
}

.gluten-free {
    color: $gluten-free-color;
}

.may-contain-allergens {
    color: $allergens-color;
}

.meal-counter {
    display: inline-flex;
    width: 31px;
    height: 31px;
    border: 1px solid #959595;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    font-weight: 400;
}

.ctrl-btns {
    display: inline-flex;
    width: 31px;
    height: 31px;
    border: 1px solid #333;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
    font-weight: 900;
    vertical-align: top;
}

.btn-outline--category,
a.btn-outline--category {
    color: $base-dark;
    border: 1px solid #e1e1e1;
    background: transparent!important;
    border-radius: 0!important;
    &:hover,
    &:focus {
        background: lighten($chocolate, 10%)!important;
        color: $pure-white;
    }
}

a.btn-outline--category.active {
    background: $chocolate!important;
    color: $pure-white!important;
}

.fixed-rigth {
    position: fixed;
    top: 10rem;
    right: 0;
    z-index: 1030;
}

.calendar {
    td {
        position: relative;
        height: 36px;
        width: 48px;
        &.disabled {
            background: #acacac;
            &>a {
                &:hover,
                &:focus {
                    background: #acacac;
                    color: #333333;
                }
            }
        }
        &>span {
            color: #333;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 2;
            cursor: pointer;
            text-align: center;
            &.disabled {
                background: #acacac;
            }
        }
        &>a {
            color: #333;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 2;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            &.active {
                background: #007bff;
                color: #fff;
            }
            &.active_not_current_week {
                background: #49709b;
                color: #fff;
            }
            &.disabled {
                background: #acacac;
                color: #333333;
                cursor: default;
                pointer-events: none;
            }
            &.inactive {
                background: #98b8c3;
                color: #fff;
            }
            &:hover,
            &:focus {
                background: #007bff;
                color: #ffffff;
            }
        }
    }
}

.meal-form__header {
    font-size: 21px;
    color: #333;
}

.meal-form__sidebar {
    font-size: 21px;
    color: #333;
    &>a {
        font-size: 16px;
    }
}

.sidebar-navbar {
    & li {
        line-height: 16.6px;
        & a {
            color: #959595;
            font-size: 14px;
        }
        &.active a {
            color: rgb(223, 182, 118);
            font-weight: bold;
        }
    }
}

.form-control {
    border-radius: 0;
}

h1#title {
    font-size: 24px;
    & a {
        color: #252525;
    }
}

#main-container:after {
    content: '';
    display: block;
    position: absolute;
    top: -84px;
    left: -10px;
    height: 100vh;
    width: 6px;
    border-left: 1px solid #e1e1e1;
    z-index: -1;
}

.user-navbar {
    border-bottom: 1px solid #e1e1e1;
}

.user-plan-card {
    border-radius: 0;
    border: 2px solid $chocolate;
}

.dashed-box {
    border-width: 1px;
    border-style: dashed;
    border-color: #acacac;
    padding: 0.5rem;
}

// font start
.burlywood-font-color {
    color: burlywood;
}

.chocolate-font-color {
    color: $chocolate;
}

.light-gray-font-color {
    color: #959595;
}

.dark-font-color {
    color: #252525;
}

a {
    &.nav-link.nav-category-item {
        &.light-gray-font-color.active {
            color: #dfb676;
            font-weight: 600;
            text-decoration: underline;
        }
    }
    &.light-gray-font-color {
        &:hover,
        &:focus {
            color: #252525;
            text-decoration: none;
        }
    }
    &.chocolate-font-color {
        &:hover,
        &:focus {
            color: $light-chocolate;
            text-decoration: none;
        }
    }
    &.dark-font-color {
        &:hover,
        &:focus {
            color: #959595;
            text-decoration: none;
        }
    }
}

// font end
table.table {
    & th {
        color: #959595;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border-top: 0;
    }
}

.border {
    &-bottom-grey {
        border-bottom: 1px solid #e1e1e1;
    }
}

.weekly-meal-sidebar {
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -2rem;
        left: 0;
        border-left: 1px solid #e1e1e1;
        height: 100vh;
        z-index: -1;
    }
}

.py-1dot35rem {
    padding-top: 1.35rem !important;
    padding-bottom: 1.35rem !important;
}

.link-divided {
    &-right:after {
        content: '|';
        padding: 0 7px 0 5px;
    }
}

.btn-link {
    border: 0;
    padding: 0;
    cursor: pointer;
    & .chocolate-font-color {
        &:hover,
        &:focus {
            text-decoration: none;
            color: $light-chocolate;
        }
    }
}

.col-custom {
    &-255 {
        -webkit-box-flex: 0;
        flex: 0 0 255px;
        max-width: 255px;
    }
}

#meals-tab-container {
    & .vue-tabs .nav-pills {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        &>li {
            display: flex!important;
            margin: 0 0.25rem;
            &>a {
                background: transparent;
                border: 1px solid $chocolate;
                color: $chocolate!important;
                border-radius: 0!important;
                padding: 0.5rem;
                &:hover,
                &:focus {
                    background: $chocolate;
                    color: $pure-white!important;
                }
            }
            &.active {
                &>a {
                    color: $pure-white!important;
                    background: $chocolate!important;
                    &:hover,
                    &:focus {
                        background: $light-chocolate;
                        color: $pure-white!important;
                    }
                }
            }
        }
    }
}

.p {
    &t- {
        &5 {
            padding-top: 5rem;
        }
        &6 {
            padding-top: 6rem;
        }
        &7 {
            padding-top: 7rem;
        }
        &15 {
            padding-top: 15rem;
        }
        &17 {
            padding-top: 17rem;
        }
    }
    &y-5 {
        padding-top: 5rem;
    }
}

.transparent-bg {
    position: relative;
    top: -5rem;
    left: 0;
    background: transparent;
    margin-bottom: 4rem;
}

.h {
    &-100px {
        height: 100px;
    }
}

.fishnet {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALklEQVQYlWNgYGBIYyAM0jAY+BThU4zTgDRiFCErIMbdxCkkymqiPENU8BAV4ABXmAf59Sd8AAAAAABJRU5ErkJggg==') repeat;
}

.banner {
    display: flex;
    width: 100%;
    height: 250px;
    background: #e1e1e1;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    & div {
        width: inherit;
        height: inherit;
    }
}

.navbar-frishtug {
    & li.nav-item {
        &.active>a {
            font-weight: 700;
        }
        &>a {
            letter-spacing: 0.4px;
        }
    }
}

.home-banner {
    display: flex;
    width: 100%;
    height: calc(100vh + 5rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

    &__gradient-mask {
        display: flex;
        width: 100vw;
        max-width: 100%;
        height: calc(100vh + 5rem);
        position: absolute;
        left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.04+25,0.19+58,1+89 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.19) 60%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.19) 60%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 25%, rgba(255, 255, 255, 0.19) 60%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
        /* IE6-9 */
        z-index: 0;
    }
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  background: #dbdbdb;

  &__copyright {
    font-size: 14px;
  }

  &-nav {
    
    &__ul {
      list-style: none;
    }
  
    &__items {
      display: inline-flex;
      
      &:after {
        content: '|';
        display: inline-flex;
        padding: 0 5px;
      }

      &:last-child:after {
        content: '';
      }

      &__links {
        color: $base-dark;
        text-decoration: none;
        font-size: 14px;
        &:hover,
        &:focus {
          text-decoration: none;
          color: #777777;
        }
      }
    }
  }
}

.icon-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    height: 110px;
    padding: 0.5rem;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 3px;

    &.inverse {
        background: burlywood;
        color: $pure-white!important;

        & > .label-icon {
            & path {
                fill: $pure-white;
            }
        }
    }
}

.label-icon {
    display: flex;
    align-self: center;

    &.sugar-free path {
        fill: burlywood;
    }
    
    &.gluten-free path {
        fill: rgb(224,143,88);
    }

    &.carb-free path {
        fill: rgb(27,206,103);
    }

    &.may-contain-allergens path {
        fill: rgb(232,91,91);
    }
}

.v-align {
    &-top {
        vertical-align: top!important;
    }

    &-bottom {
        vertical-align: bottom!important;
    }
}

.width {
    &-570px {
        width: 570px;
    }
}

.wizard-tab-content {
    position: relative;

    &:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 15px;
        left: 0;
        border-bottom: 1px solid #e1e1e1;
    }
}

.vue-form-wizard.xs .wizard-icon-circle {
    background: #777777;
    color: $pure-white;

}

.mb {
    &-42px {
        margin-bottom: 2.625rem;
    }

    &-50px {
        margin-bottom: 3.125rem;
    }

    &-123px {
        margin-bottom: 7.688rem;
    }
}

.mt {
    &-48px {
        margin-top: 3rem;
    }

    &-60px {
        margin-top: 3.75rem;
    }
}

.footer-banner {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 30.63rem;
    background: #252525;
    align-items: center;
    justify-items: center;
    color: $pure-white;

    &__header {
        flex: 1 100%;
        align-self: start;
    }

    &__body {
        align-self: baseline;
    }

    &__footer {
        align-self: baseline
    }
}

.other-features {
    list-style: none;
    padding: 0;

    & li {
        padding-left: 1.3rem;
        padding-top: 3.25rem;

        &:first-child {
            padding-top: 0;
        }

        &.fa-cutlery,
        &.fa-trash-o {
            padding-top: 1.7rem;
        }

        &.fa-home:before {
            content: "\f015";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-search:before {
            content: "\f002";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-credit-card:before {
            content: "\f09d";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-money:before {
            content: "\f0d6";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-cutlery:before {
            content: "\f0f5";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-map-marker:before {
            content: "\f041";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-users:before {
            content: "\f0c0";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-trash-o:before {
            content: "\f014";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }

        &.fa-envelope-o:before {
            content: "\f003";
            font-family: FontAwesome;
            display: inline-block;
            margin-left: -1.3em;
            width: 1.3em;
            font-size: 22px;
        }
        
    }
}

.light-link {
    color: $pure-white;
    &:hover, &:focus {
        color: lightgrey;
    }
}

.text-underline {
    text-decoration: underline;
}

.height {
    &-390px {
        height: 24.38rem;
    }
}

.fullwidth-bg {
    display: flex;
    width: 100%;
    height: calc(100vh - 6.25rem);
    position: relative;
    background: gray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;

    & > .fishnet {
        width: inherit;
        height: inherit;
    }
}

.login-form {
    display: flex;
    width: 33.75rem;
    height: 17.19rem;
    position: absolute;
    background: $pure-white;

    & > div {
        width: inherit;
        height: inherit;
    }
}


.login-control {
    &::placeholder {
        color: #252525;
        font-style: italic;
        text-align: center;
    }
}

.contact-form__container {
    display: flex;
    width: 100%;
    height: 100%;
    background: $pure-white;
}

.half_banner_bg {
    display: flex;
    width: 100%;
    height: 100%;
    & > div {
        width: inherit;
        height: inherit;
    }
}