$light-bg:                    #f9f9f9;
$muted-color:                 #acacac;
$green-check-bg:              #37c429;
$chocolate:                   #562d07;
$light-chocolate:             #8b7562;
$allergens-color:             #43ccff;
$carb-free-color:             #8dc63f;
$sugar-free-color:            #eaaf30;
$gluten-free-color:           #a0410d;
$pure-white:                  #ffffff;
$disabled-step-bg:            #737272;
$lato:                        "Lato", sans-serif;
$montserrat:                  "Montserrat", sans-serif;
$base-dark:                   #191919;
body {
  background: $light-bg;
  font-family: $lato;
  color: $base-dark;
}

.font-family-lato {
  font-family: $lato!important;

  &-bold {
    font-weight: 700;
  }

  &-black {
    font-weight: 900;
  }
}

.font-family-montserrat {
  font-family: $montserrat!important;
  
  &-medium {
    font-weight: 500;
  }

  &-semi-bold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }
}

.font-size {
  &-12 {
    font-size: 12px!important;
  }

  &-14 {
    font-size: 14px!important;
  }

  &-16 {
    font-size: 16px!important;
  }

  &-18 {
    font-size: 18px!important;
  }

  &-20 {
    font-size: 20px!important;
  }
}

.btn {
  font-family: $montserrat;
  font-weight: normal;
  font-size: 15px;
}

.btn-uppercase {
  text-transform: uppercase;
}

.btn-brown {
  background: $chocolate!important;
  border-color: $chocolate;
  color: $pure-white !important;

  &:hover,
  &:focus {
    background: lighten( $chocolate, 5%);
  }
}

.btn-brown-outline {
  background: transparent;
  border-color: $chocolate;
  color: $chocolate!important;
  border-radius: 0!important;

  &:hover,
  &:focus {
    background: $chocolate;
    color: $pure-white!important;
  }

  &.active-btn {
    color: $pure-white!important;
    background: $chocolate;
  }
}

.text-muted,
label,
.text-muted-frish,
.nav-tabs a.nav-link {
  color: $muted-color!important;

  &:hover,
  &:focus {
    color: $base-dark;
  }
}

.text-brown {
  color: $chocolate;
}

.dropzone {
  display: flex;
  width: 100%;
  min-height: 180px;
  border: 1px dashed $light-chocolate;
  border-width: 2px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

.is_dragging {
  border-color: darkgrey;
  color: darkgray;
  background: $base-dark;
}

.has_an_error {
  border-color: red;
  color: red;
}

.add-menu-item {
  background: transparent;
  border-color: #dfb676;
  color: #dfb676 !important;
  width: 226px;
  height: 175px;
  border: 1px dashed;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  min-height: 600px;
}

.card-container > .card-header {
  line-height: 3rem;
  background: $pure-white;
}

.draft-card img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.diet-icons {
  font-size: 13px !important;
}

.carb-free {
  color: $carb-free-color;
}

.sugar-free {
  color: $sugar-free-color;
}

.gluten-free {
  color: $gluten-free-color;
}

.may-contain-allergens {
  color: $allergens-color;
}

.meal-counter {
  display: inline-flex;
  width: 31px;
  height: 31px;
  border: 1px solid #959595;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-weight: 400;
}

.ctrl-btns {
  display: inline-flex;
  width: 31px;
  height: 31px;
  border: 1px solid #333;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-weight: 900;
  vertical-align: top;
}


.btn-outline--category,
a.btn-outline--category {
  color: $base-dark;
  border: 1px solid #e1e1e1;
  background: transparent!important;
  border-radius: 0!important;

  &:hover,
  &:focus {
    background: lighten($chocolate, 10%)!important;
    color: $pure-white;
  }
}

a.btn-outline--category.active {
  background: $chocolate!important;
  color: $pure-white!important;
}

.fixed-rigth {
  position: fixed;
  top: 10rem;
  right: 0;
  z-index: 1030;
}

.calendar {
  td {
    position: relative;
    height: 36px;
    width: 48px;

    &.disabled {
      background: #acacac;

      & > a {
        &:hover,
        &:focus {
          background: #acacac;
          color: #333333;
        }
      }
    }

    & > span {
      color: #333;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 2;
      cursor: pointer;
      text-align: center;

      &.disabled {
        background: #acacac;
      }
    }

    & > a {
      color: #333;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 2;
      cursor: pointer;
      text-align: center;
      text-decoration: none;

      &.active {
        background: #007bff;
        color: #fff;
      }

      &.active_not_current_week {
        background: #49709b;
        color: #fff;
      }

      &.disabled {
        background: #acacac;
        color: #333333;
        cursor: default;
        pointer-events: none;
      }

      &.inactive {
        background:#98b8c3;
        color: #fff;
      }

      &:hover,
      &:focus {
        background: #007bff;
        color: #ffffff;
      }
    }
  }
}

.meal-form__header {
  font-size: 21px;
  color: #333;
}

.meal-form__sidebar {
  font-size: 21px;
  color: #333;

  & > a {
    font-size: 16px;
  }
}


.sidebar-navbar {
  & li {
    line-height: 16.6px;

    & a {
      color: #959595;
      font-size: 14px;
    }

    &.active a {
      color: rgb(223, 182, 118);
      font-weight: bold;
    }
  }
}

.form-control {
  border-radius: 0;
}

h1#title {
  font-size: 28px;

  & a {
    color: #252525;
  }
}

#main-container:after {
  content: '';
  display: block;
  position: absolute;
  top: -84px;
  left: -10px;
  height: 100vh;
  width: 6px;
  border-left: 1px solid #e1e1e1;
  z-index: -1;
}

.user-navbar {
  border-bottom: 1px solid #e1e1e1;
}

.user-plan-card {
  border-radius: 0;
  border: 2px solid $chocolate;
}

.dashed-box {
  border-width: 1px;
  border-style: dashed;
  border-color: #acacac;
  padding: 0.5rem;
}


// font start
.chocolate-font-color {
  color: $chocolate;  
}

.light-gray-font-color {
  color: #959595;
}

.dark-font-color {
  color: #252525;
}

a {

  &.nav-link.nav-category-item {
    &.light-gray-font-color.active {
      color: #dfb676;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &.light-gray-font-color {
    &:hover,
    &:focus {
      color: #252525;
      text-decoration: none;
    }
  }

  &.chocolate-font-color {
    &:hover,
    &:focus {
      color: $light-chocolate;
      text-decoration: none;
    }
  }

  &.dark-font-color {
    &:hover,
    &:focus {
      color: #959595;
      text-decoration: none;
    }
  }
}
// font end

table.table {
  & th {
    color: #959595;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-top: 0;
  }
}

.border {
  &-bottom-grey {
    border-bottom: 1px solid #e1e1e1;
  }
}

.weekly-meal-sidebar {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -2rem;
    left: 0;
    border-left: 1px solid #e1e1e1;
    height: 100vh;
    z-index: -1;
  }
}

.py-1dot35rem {
  padding-top: 1.35rem !important;
  padding-bottom: 1.35rem !important;
}

.link-divided {
  &-right:after {
    content: '|';
    padding: 0 7px 0 5px;
  }
}

.btn-link {
  border: 0;
  padding: 0;
  cursor: pointer;

  & .chocolate-font-color {
    &:hover,
    &:focus {
      text-decoration: none;
      color: $light-chocolate;
    }
  }
}

.col-custom {
  &-255 {
    -webkit-box-flex: 0;
    flex: 0 0 255px;
    max-width: 255px;
  }
}

#meals-tab-container {

  & .vue-tabs .nav-pills {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;

    & > li {
      display: flex!important;
      margin: 0 0.25rem;
      
      & > a {
        background: transparent;
        border: 1px solid $chocolate;
        color: $chocolate!important;
        border-radius: 0!important;
        padding: 0.5rem;
      
        &:hover,
        &:focus {
          background: $chocolate;
          color: $pure-white!important;
        }
      }

      &.active {

        & > a {
          color: $pure-white!important;
          background: $chocolate!important;
    
          &:hover,
          &:focus {
            background: $light-chocolate;
            color: $pure-white!important;
          }
        }
      }
    }

  }
}