.container-1325 {
    max-width: 82.8125rem;
    & .row {
        margin-right: -2rem;
    }
}

.container-1020 {
    width: 63.75rem;
    margin: 1.875rem;
}

.container-1080 {
    background: #F4F5F6;
}

.container-240 {
    max-width: 15rem;
}