<div class="card rounded-0 raised-no-hover-1 card-container">
  <div class="card-flashes"></div>
  <div class="card-header">
    <%= render 'header' %>
  </div>
  <div class="card-body">
    <%= content %>
  </div>
</div>