<div class="card rounded-0 raised-no-hover-1 card-container admin-card__container">
  <div class="card-flashes"></div>
  <div class="card-header admin-card__header">
    <%= render 'header' %>
  </div>
  <div class="card-body admin-card__body">
    <%= content %>
  </div>
</div>
