<div class="card rounded-0 card-container admin-card__container container-1020" style="box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);">
  <div class="card-flashes"></div>
  <div class="card-header admin-card__header">
    <%= render 'header' %>
  </div>
  <div class="card-body admin-card__body">
    <%= content %>
  </div>
</div>
