<%= content_tag :div,
  id: 'user_info',
  class: 'col-md-4',
  data: {
    user: @user_json,
    phone_number: @user_phone_number
  } do %>

  <h4 class="font-size-18 text-uppercase">User Information</h4>
  <%= form_with url: user_user_information_index_path, local: true, class: 'user_info_form' do |f| %>
    <div class="form-group row">
      <div class="col">
        <label for="user_first_name">First Name</label>
        <input type="text" class="form-control" id="user_first_name" name="user[first_name]" v-model="user.first_name">
      </div>
      <div class="col">
        <label for="user_last_name">Last Name</label>
        <input type="text" class="form-control" id="user_last_name" name="user[last_name]" v-model="user.last_name">
      </div>
    </div>
    <div class="form-group">
      <label for="user_email">Email</label>
      <input type="text" class="form-control" id="user_email" name="user[email]" v-model="user.email">
    </div>
    <div class="form-group">
      <label for="user_phone_number">Phone Number</label>
      <input type="text" class="form-control" id="user_phone_number" name="user[contact_number_attributes][phone_number]" v-model="phone" v-on:keyup="onlyUsPhones($event)">
      <div class="invalid-feedback">
        Valid Formats are: <br>
        (123) 456-7890 <br>
        (123)456-7890 <br>
        123-456-7890 <br>
        123.456.7890 <br>
        1234567890 <br>
        +31313131313 <br>
        075-12345678 <br>
      </div>
    </div>
    <button type="submit" class="btn btn-brown text-uppercase">Save Changes</button>
  <% end %>
<% end %>

<%= content_for :footer_js do %>
  <%= javascript_pack_tag 'user/vue_user_info.js' %>
<% end %>
