<div class="banner">
  <div class="fishnet">
  </div>
</div>

<div class="row mx-0">
  <div class="col text-center">
    <h3 class="text-uppercase font-family-montserrat">How it works</h3>
    <p class="mb-0 font-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo urna, finibus sit amet</p>
    <p class="font-size-18">tempor vitae, facilisis quis neque</p>
  </div>
</div>