<h4 class="text-uppercase font-size-18">
  Refundable Credits
</h4>
<div class="row">
  <div class="col">
    <% unless @refundables.empty? %>
      <ul class="list-group">
        <% @refundables.each do |i| %>
          <li class="list-group-item d-flex flex-row justify-content-between">
            <div class="amount">
              <strong>Amount: </strong>
              <p class="text-secondary">
                <%= to_currency(i.amount) %>
              </p>
            </div>
            <div class="remarks">
              <strong>Remarks: </strong>
              <p class="text-secondary">
                <%= i.remarks || "n/a" %>
              </p>
            </div>
            <div class="time">
              <strong>Created:</strong>
              <p class="text-secondary">
                <%= time_ago_in_words(i.created_at) %> ago.
              </p>
            </div>
            <div class="float-right">
              <%= button_to user_refundable_credit_path(i), method: :put, class: 'btn btn-lg btn-brown text-uppercase' do %>
                Refund
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      Nothing to refund
    <% end %>
  </div>
</div>
