<div class="row">
  <div class="col">
    <h1 id="title">
      <%= link_to "Menu Categories", admin_menu_categories_path %>
    </h1>
  </div>
  <div class="col">
    <%= link_to new_admin_menu_category_path, class: 'header-add-btn float-right light-gray-font-color font-family-montserrat font-size-14' do %>
      <%= svg_tag 'packs/images/add-icon.svg', class: 'mr-1' %> Add Category
    <% end %>
  </div>
</div>