<div class="row">
  <div class="col">
    <h1 id="title">
      <%= link_to "Menu Categories", admin_menu_categories_path %>
    </h1>
  </div>
  <div class="col">
    <%= link_to new_admin_menu_category_path, class: 'add-category-btn float-right' do %>
      <img src="<%= asset_pack_path 'packs/images/add-icon.svg' %>"> Add Category
    <% end %>
  </div>
</div>