<%= card_container do %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Menus</th>
        <th>Add-Ons</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @menu_categories %>
    </tbody>
  </table>
<% end %>
