<%= card_container do %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>Subscribers</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @plans %>
    </tbody>
  </table>
  <%= paginate @plans %>
<% end %>
