<div class="row">
  <div class="col">
    <p>
      <strong class="text-uppercase">Note:</strong> <br>
      <span class="text-muted">Fields with * are required and should not be left empty</span>
    </p>
  </div>
</div>