<% if @response_msg[:status] == 'success' %>
  var cardContainer = document.querySelector('.card-container');
  cardContainer.innerHTML = `
    <h6>You are not subscribe to a plan.</h6>
    <%= link_to_btn 'Choose plans', choose_plans_user_subscriptions_path %>
  `;
  $('#cancel_subscription').modal('hide');
  location.reload();
<% end %>
swal(
  '<%= @response_msg[:status].upcase %>',
  '<%= @response_msg[:message] %>',
  '<%= @response_msg[:status] %>'
);

location.reload();