<h4>Choose From Available Plans Below.</h4>
<hr>
<% if current_user.plan.party_meeting? %>
  <div class="alert alert-warning alert-dismissible fade show">
    <strong>Note:</strong>
    <p>We only ship to our subscribers on zip codes <%= @allowed_zip_codes.join(', ') %>.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="card-deck">
  <%= render @plans, form_url: user_subscriptions_path %>
</div>
