/*
*=require_self
*=require trix
*/

@import "bootstrap";
@import "toastr";
@import url("//unpkg.com/element-ui/lib/theme-chalk/index.css");
@media print {
  #printarea {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background: #fff;
  }
}

.toast-message {
  font-size: 14px !important;
}

.table th {
  & > a {
    text-decoration: none;
    color: var(--secondary);
  }
  & .asc:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #333;
    vertical-align: middle;
    margin-left: 3px;
  }
  & .desc:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    vertical-align: middle;
    margin-left: 3px;
  }
}
