/*
*=require_self
*=require trix
*/
@import "bootstrap";
@import "toastr";

@media print {
  #printarea {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background: #fff;
  }
}

.toast-message {
  font-size: 14px !important;
}