<div class="row">
  <div class="col">
    <h1 id="title">Your Menus</h1>
  </div>
  <div class="col">
    <%= link_to '#', class: 'add-category-btn float-right',
      data: {
        toggle: 'modal',
        target: '#add-category-modal'
      } do
    %>
      <img src="<%= asset_pack_path 'packs/images/add-icon.svg' %>"> Add Category
    <% end %>
  </div>
</div>