<div class="row mx-0">
  <div class="col">
    <h1 id="title">Your Menus</h1>
  </div>
  <div class="col">
    <%= link_to '#', class: 'header-add-btn float-right light-gray-font-color font-family-montserrat font-size-14',
      data: {
        toggle: 'modal',
        target: '#add-category-modal'
      } do
    %>
      <%= svg_tag 'packs/images/add-icon.svg', class: "mr-1" %> Add Category
    <% end %>
  </div>
</div>