<div class="row justify-content-center mb-3">
  <div class="col-8 text-center">
    <a href="javascript:void(0)"
      v-on:click="changeCalendar(calendar.prev_month)"
      v-if="index === 0">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <span class="mx-4">{{ calendar.month }}</span>
    <a href="javascript:void(0)"
      v-on:click="changeCalendar(calendar.next_month)"
      v-if="index === 1">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>

<table class="calendar table table-bordered table-sm">
  <thead>
    <th class="text-center">S</th>
    <th class="text-center">M</th>
    <th class="text-center">T</th>
    <th class="text-center">W</th>
    <th class="text-center">T</th>
    <th class="text-center">F</th>
    <th class="text-center">S</th>
  </thead>
  <tbody>
    <tr v-for="days in calendar.days">
      <td v-for="date in days">
        <span v-if="isDisabledDate(date)" class="disabled">
          {{ showDate(date) }}
        </span>
        <a
        href="javascript:void(0)"
        v-on:click="selectDay(date)"
        :class="`date-${date} calendar__date_item`"
        v-else>
        {{ showDate(date) }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
