<div class="form-group">
  <input type="text" name="registration_form[bank_name]" placeholder="Bank Name" class="form-control">
</div>
<div class="form-group">
  <input type="text" name="registration_form[account_number]" placeholder="Account Number" class="form-control">
</div>
<div class="form-group">
  <input type="text" name="registration_form[routing_number]" placeholder="Routing Number" class="form-control">
</div>
<small class="text-muted">
  Account will be activated upon receiving and clearing of check
</small>