<div class="form-group">
  <input type="text"
    name="registration_form[card_number]"
    id="registration_form_card_number"
    class="form-control"
    placeholder="Credit Card Number"
    data-stripe="number"
    v-model="credit_card.number"
    v-mask="'#### #### #### ####'">
  <div class="invalid-feedback">
    Credit Card is required
  </div>
</div>
<div class="form-group row">
  <div class="col">
    <%= select "registration_form",
      "month",
      months_with_index_options,
      {},
      class: 'form-control',
      data: {
        stripe: 'exp_month'
      },
      'v-model.lazy': 'credit_card.exp_month'
    %>
    <div class="invalid-feedback">
      Please select a month
    </div>
  </div>
  <div class="col">
    <%= select "registration_form",
      "year",
      years_options,
      {},
      class: 'form-control',
      data: {
        stripe: 'exp_year'
      },
      'v-model.lazy': 'credit_card.exp_year'
    %>
    <div class="invalid-feedback">
      Please select a year
    </div>
  </div>
  <div class="col">
    <input type="text"
           name="registration_form[cvc]"
           id="registration_form_cvc"
           class="form-control cvc-input-control"
           placeholder="CVV"
           data-stripe="cvc"
           v-model="credit_card.cvc"
           v-mask="'####'"
    >
    <div class="invalid-feedback">
      CVV is required
    </div>
  </div>
</div>
<div class="form-check">
  <label for="registration_form_different_billing" class="form-check-label">
    <input type="checkbox" name="registration_form[different_billing]" value="true" class="form-check-input" id="registration_form_different_billing" v-model.lazy="different_billing">
    Billing address is different to delivery address
  </label>
</div>
<div class="different-billing" v-if="different_billing">
  <div class="form-group">
    <input type="text" class="form-control" name="registration_form[billing_line_1]" placeholder="Address Line 1" v-model.lazy="credit_card_billing_address.address_line1">
    <div class="invalid-feedback">
      Line1 is required
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="registration_form[billing_line_2]" placeholder="Address Line 2" v-model.lazy="credit_card_billing_address.address_line2">
  </div>
  <div class="form-group row">
    <div class="col">
      <input type="text" class="form-control" name="registration_form[billing_city]" placeholder="City" v-model.lazy="credit_card_billing_address.address_city">
      <div class="invalid-feedback">
        City is required
      </div>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="registration_form[billing_state]" placeholder="State" v-model.lazy="credit_card_billing_address.address_state">
      <div class="invalid-feedback">
        State is required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <input type="text" class="form-control" name="registration_form[billing_zip_code]" placeholder="Zipcode" v-model.lazy="credit_card_billing_address.address_zip">
      <div class="invalid-feedback">
        Zipcode is required
      </div>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="registration_form[billing_phone_number]" placeholder="Phone Number">
    </div>
  </div>
</div>
<div class="text-center">
  <a href="javascript:void(0)" class="btn btn-brown text-uppercase payment-step__btn" @click="nextTab">
    Continue to meal selection
  </a>
</div>
