<div class="row">
  <div class="col-md-9">
    <vue-tabs>
      <% (1..5).each do |n| %>
        <v-tab :title="tab_titles[<%= n - 1 %>]">
          <div id="day-<%= n %>" class="tab_pane mt-3">
            <%= render 'meals', categorized_menus: categorized_menus %>
          </div>
        </v-tab>
      <% end %>
    </vue-tabs>
  </div>

  <%# Sidebar %>
  <div class="col-md-3 meal-sidebar">
    <div class="row">
      <div class="col">
        <h5 class="text-uppercase">Your Meals</h5>
      </div>
      <div class="col">
        <a href="javascript:void(0)" class="btn btn-outline-dark btn-sm">Hide Meals</a>
      </div>
    </div>
    <hr>
    <div class="row order-field">
      <div class="col">
        <div class="order-list"></div>
      </div>
      <script id="order-template" type="text/x-template">
        <h6 class="text-upperclass order-title"></h6>
        <table class="order-table table table-sm">
          <tbody></tbody>
        </table>
        <hr>
        <div>
          <h6 class="font-weight-bold">Total <span class="meal-total float-right"></span></h6>
        </div>
      </script>

      <script type="text/x-template" id="order-list-template">
        <table class="table table-sm">
          <tbody>
            <tr class="order-list-items">
              <td class="meal-name border-0 text-left"></td>
              <td class="meal-counter border-0 text-center">
                <a href="javascript:void(0)" class="remove-meal">-</a>
                <span class="meal-count"></span>
                <a href="javascript:void(0)" class="add-meal">+</a>
              </td>
              <td class="meal-price border-0 text-right"></td>
            </tr>
          </tbody>
        </table>
      </script>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col">
        <a href="javascript:void(0)" class="btn btn-brown disabled btn--save-meal-plan" @click="showCongrats">
        Save Meal Plan
      </a>
      </div>
    </div>
  </div>
</div>