<div class="row justify-content-center align-items-center mt-4">
  <div class="col-12 col-md-6">
    <h4 class="text-center text-uppercase">
      Choose Delivery Day
    </h4>
    <p class="text-center" v-if="interval === 'single_order' ">
      Choose when you want your <strong>single breakfast order</strong> to be delivered.
    </p>
  </div>
</div>
<div class="row justify-content-center mb-4">
  <div class="col-md-4 col-md-offset-4">
    <div class="calendar-errors"></div>
    <div class="calendar-container">
      <%= render 'calendar', month: Date.current %>
    </div>
    <a href="javascript:void(0)" class="btn btn-brown btn-block text-uppercase" @click="nextTab">Continue To Payment</a>
  </div>
</div>
