<% cache(action_suffix: 'meals') do %>
<div class="row">
  <div class="col meals__container" id="meals-tab-container">
    <vue-tabs type="pills" @tab-change="handleTabChange">
      <% menus_with_category.each do |category_name, menus| %>
        <v-tab title="<%= category_name %>">
          <%= render 'legends' %>
          <div class="row" id="<%= category_name.parameterize %>">
            <div class="container-fluid">
              <div class="row">
                <%= render partial: 'menus/menu_with_controls', collection: menus, as: :menu, locals: {type: type} %>
              </div>
            </div>
          </div>
        </v-tab>
      <% end %>
    </vue-tabs>
  </div>
</div>
<% end %>