<div class="row">
  <div class="col" id="meals-tab-container">
    <vue-tabs type="pills" @tab-change="handleTabChange">
      <% categorized_menus.each_with_index do |category, index| %>
        <v-tab title="<%= category.name.titleize %>">
          <%= render 'legends' %>
          <div class="row" id="<%= category.name.parameterize %>">
            <div class="container-fluid">
              <div class="row">
                <% category.menus.each do |menu| %>
                  <%= render 'shared/menus/products', { menu: menu, control: true, fmodel: fmodel } %>
                <% end %>
              </div>
            </div>
          </div>
        </v-tab>
      <% end %>
    </vue-tabs>
  </div>
</div>