<div class="row justify-content-center" id="review_order">
  <div class="col-md-4">
    <div class="errors" v-if="error_messages.length > 0">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Opps!..</strong>
        {{ error_messages }}
      </div>
    </div>
    <h1>Review Order</h1>

    <h4>Order Summary</h4>

    <table class="table">
      <tbody>
        <tr>
          <td>Choosen Plan</td>
          <td class="choosen_plan text-right"></td>
        </tr>
        <tr>
          <td class="meals__text">5 meals per week</td>
          <td class="price text-right"></td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td class="shipping text-right"></td>
        </tr>
      </tbody>
    </table>
    
    <h4>Delivery Summary</h4>
    <table class="table">
      <tbody>
        <tr>
          <td>Delivery Schedule</td>
          <td class="delivery_schedule text-right"></td>
        </tr>
        <tr>
          <td>First Delivery Date</td>
          <td class="first_delivery_date text-right"></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="row clearfix">
      <div class="col">
        <strong>TOTAL</strong>
      </div>
      <div class="col">
        <strong class="total_price_summary float-right"></strong>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-2">
    <input
      type="submit"
      name="commit"
      value="Complete Sign Up"
      data-disable-with="Complete Sign Up"
      class="btn btn-brown text-uppercase complete-orders-btn"
      v-on:click.prevent="createToken"
    >
  </div>
</div>
