<div class="row">
  <div class="col meals__container" id="meals-tab-container">
    <vue-tabs type="pills">
      <v-tab v-for="category in menu_categories" :key="category.id">
        <div slot="title">{{ category.attributes.name }}</div>
        <%= render 'legends' %>
        <div class="row" :id="`${category.id}`">
          <div class="container-fluid">
            <div class="row">
              <div class='card col-12 col-custom-255 px-0 border-0 mb-4 mt-1 mr-4' v-for="item in items[category.attributes.name]">
                <img :src="item.attributes.asset.image.card.url" class="card-img-top" width="255" height="175">
                <div class="card-body px-0 py-1">
                  <h5 class="card-title mb-0 font-family-montserrat">
                    {{ item.attributes.name }}
                  </h5>
                  <div class="row">
                    <div class="col-5">
                      <p class="card-text">
                        <small class="text-muted">
                          {{ item.attributes.price | to_currency }} / {{ item.attributes.unit.name }}
                        </small>
                      </p>
                    </div>
                    <div class="col cart-controls">
                      <a href="javascript:void(0)"
                        class="ctrl-btns btn btn-brown meal-ctrl-btns-minus rounded-0 disabled cart-controls__remove"
                        :data-value="menuCartValue(item)"
                        data-control="remove"
                        :data-control-target="`.meal-counter__${item.id}__single`"
                        :data-control-type="`single`">
                        -
                      </a>
                      <span :class="`meal-counter meal-counter__${item.id}__single`">
                        0
                      </span>
                      <a href="javascript:void(0)"
                        class="ctrl-btns btn btn-brown meal-ctrl-btns-minus rounded-0 cart-controls__remove"
                        :data-value="menuCartValue(item)"
                        data-control="add"
                        :data-control-target="`.meal-counter__${item.id}__single`"
                        :data-control-type="`single`">
                        +
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <ul
                      :class="`list-unstyled d-none meal-counter__${item.id}__single__add_ons`">
                        <li v-for="add_on in item.meta.add_ons">
                          <label :for="`add_on_${add_on.id}__single`">
                            <input type="checkbox"
                            :name="add_on.name"
                            :id="`add_on_${add_on.id}__single`"
                            :value="add_on.id"
                            :data-value="createAddOnValue(add_on)"
                            data-type="add_ons"
                            :data-add-on-for="item.id"
                            :data-control-type="`single`"
                            >
                            {{ add_on.name }}
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-tab>
    </vue-tabs>
  </div>
</div>
