sessionStorage.clear();
pulse_loader.replace_text('Sign up complete!. You are being redirect to your dashboard...')
<% if @registration.errors.present? %>
  pulse_loader.stop();
  swal(
    'Opps...',
    '<%= @registration.errors.full_messages.join(', ') %>',
    'error'
  );
<% elsif current_user.referrer %>
  pulse_loader.stop();
  swal({
      html: `
        <div class="row">
          <div class="col text-left">
            <h5 class="mb-3 font-family-montserrat font-size-20">Here Is Your Group Code</h5>
            <h1 class="dashed-box text-center">
              <%= current_user.referrer.group_code %>
            </h1>
            <i class="font-family-lato font-size-14">
              In order to avail of the Group Plan discount, you'll need to share the Group
              Code to at least 2 other people. Deliveries will be made to only one location.
            </i>
            <ul class="list-inline">
              <li class="list-inline-item" style="margin-right: 23px;">Share:</li>
              <li class="list-inline-item">
                <span class="chocolate-font-color">
                <i class="fa fa-envelope" style="margin-right: 12px; font-size: 21px;"></i>Email Code</span>
              </li>
              <li class="list-inline-item">
                <span class="chocolate-font-color">
                <i class="fa fa-mobile" style="margin-right: 12px; font-size: 30px; position: relative: bottom: -4px;"></i>Text Code</span>
              </li>
            </ul>
          </div>
        </div>
      `,
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      confirmButtonText: 'done',
      cancelButtonText: 'cancel',
      confirmButtonClass: 'btn btn-brown text-uppercase',
      cancelButtonClass: 'btn btn-default text-uppercase',
      buttonsStyling: false
  }).then( function(result) {
    if (result) {
    window.location.href = '<%= new_user_session_path %>';
    }
  });
<% else %>
  setTimeout( function() { window.location.href = '<%= new_user_session_path %>' }, 1000);
<% end %>
